extends layoutloggedin

block content
	.container.text-center.allposts
		.row
			.col-sm-12.allposts
				each post in allblogposts
					.singlepost
								h4= post.user.firstname
								p posted the following:
								p 
									strong
										a(href='singlepost/' + post.id) Blogpost # 
											= post.id 
									p #{post.title}
									p= post.body

									strong
										a(href='singlepost/' + post.id)
									form(role='form', action='comment', method='post')
										.form-group
											input#comment.form-control(name = 'comment')
											input#blogpostid.form-control(type="hidden", name="postid", value=post.id)
											button.btn.btn-default(type='comment', value = 'comment') Comment
								.comments
									if post.comment.length > 0
										h3 comments:
										each thing in post.comment
												p= thing.user.username
													|  commented:
												p= thing.body
									else
										h3 no comments

