extends layoutloggedin

block content
	.container.profile
		div.row
			div.col-sm-6.profile
				h3 Your profile:
				strong Username:
				p= sessionuser.username
				strong Full name
				p= sessionuser.firstname + " " + sessionuser.lastname
				strong Email
				p= sessionuser.email
			div.col-sm-6.posts
				h3 Your posts:
				if posts == 0
					h4 You haven't posted anything yet.
					h4 Create your first post 
						a(href='/newpost') here
				else
					each post in posts
						.singlepost
							strong
								p= post.title
							p= post.body


				